body {
    background: #000000;
}

#copyright{
	position: fixed;
	right: 1%;
	bottom: 1%;
	z-index: 1;
	color: darkgray;
	font-size: 8px;
}


@font-face {
    font-family: 'gluqlo';
    src: url('gluqlo.ttf');
}
